In [12]:
import pandas as pd

In [13]:
df=pd.read_csv('Pokemon.csv')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.shape

(800, 13)

In [7]:
df.head(0)

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

# Add two columns High_Low_Speed and High_Low_HP in the same datase

In [25]:
spee_mean=df['Speed'].mean

def set_speed(val):
    if val >  set_speed:
        return 'High Speed'
    elif val== set_speed:
        return 'Speed Natural'
    else:
        return 'Low Speed'

In [29]:
attack_mean = df["Attack"].mean()

def set_attack(val):
    if val < attack_mean:
        return "Attack Low"
    elif val == attack_mean:
        return "Attack neutral"
    else:
        return "Attack High"

In [30]:
df["Attack_high_low"] = df["Attack"].apply(set_attack)

In [33]:
df.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack Low

In [43]:
speed_mean=df["Speed"].mean()

def set_speed (val):
    if val > speed_mean:
        return "High Speed"
    elif val == speed_mean:
        return "Speed Natural"
    else:
        return "Low Speed"

In [44]:
df["Speed_High_Low"] = df["Speed"].apply(set_speed)

In [45]:
df.head(0)

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Attack_high_low, Speed_High_Low]
Index: []

In [46]:
df["Speed_High_Low"]

0       Low Speed
1       Low Speed
2      High Speed
3      High Speed
4       Low Speed
          ...
795     Low Speed
796    High Speed
797    High Speed
798    High Speed
799    High Speed
Name: Speed_High_Low, Length: 800, dtype: object

In [47]:
df.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_low,Speed_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack Low,Low Speed
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack Low,Low Speed

In [52]:
hp_mean=df["HP"].mean()

def set_hp(val):
    if val > hp_mean:
        return "High HP"
    elif val == hp_mean:
            return "Nature HP"
    else:
        return "Low HP"

In [53]:
df["HP_High_Low"] = df ["HP"].apply(set_hp)

In [54]:
df.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_low,Speed_High_Low,HP_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack Low,Low Speed,Low HP

In [57]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary',
       'Attack_high_low', 'Speed_High_Low', 'HP_High_Low'],
      dtype='object')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #                800 non-null    int64
 1   Name             800 non-null    object
 2   Type 1           800 non-null    object
 3   Type 2           414 non-null    object
 4   Total            800 non-null    int64
 5   HP               800 non-null    int64
 6   Attack           800 non-null    int64
 7   Defense          800 non-null    int64
 8   Sp. Atk          800 non-null    int64
 9   Sp. Def          800 non-null    int64
 10  Speed            800 non-null    int64
 11  Generation       800 non-null    int64
 12  Legendary        800 non-null    bool
 13  Attack_high_low  800 non-null    object
 14  Speed_High_Low   800 non-null    object
 15  HP_High_Low      800 non-null    object
dtypes: bool(1), int64(9), object(6)
memory usage: 94.7+ KB